*{
  border-style: none;
  box-sizing: border-box;
  font-family: Epilogue;
}

body {
  margin: 0;
}

.c-nav {
  width: 100%;
  padding: 20px 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-nav_left,
.c-nav_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-nav_links {
  padding-bottom: 4px;
}

.c-logo_block {
  width: 84px;
  height: 28px;
  margin-right: 62px;
}

.c-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.c-nav_links a {
  margin-right: 40px;
  color: #686868;
  text-decoration: none;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
}

.c-button {
  font-size: 14px;
  padding: 13px 22px;
  color: #686868;
  background: white;
  border-radius: 14px;
  text-decoration: none;
}

.c-button.cc-outline {
  border: 1.5px solid #686868;
}

.c-button.cc-secondary {
  background: black;
  color: white;
}

.uc-desktop-hide {
  display: none;
}

.uc-mobile-hide {
  display: block;
}

.hero {
  display: flex;
  padding: 0px 130px 0px 165px;
  height: calc(100vh - 90px);
  max-height: 950px;
  align-items: center;
  justify-content: space-between;
}

.hero-img_block {
  width: 480px;
  height: 640px;
  max-width: 34vw;
  max-height: 70vh;
}

.hero-text_wrapper {
  max-width: 540px;
  margin-bottom: 48px;
}

h1 {
  font-size: 80px;
  line-height: 80px;
  margin: 0px;
}

.hero-subtext_wrapper {
  max-width: 445px;
  color: #686868;
  margin-bottom: 50px;
}

p {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

.hero-inner {
  margin-bottom: 100px;
}

.brand-logo:not(:last-child) {
  margin-right: 40px;
}
.adopt{
  display: none;
}

/* Desktop & above */
@media screen and (min-width: 1440px) {
}

/* Tablet/iPad to below */
@media screen and (max-width: 991px) {
  .c-nav_links a {
    font-size: 14px;
    margin-right: 20px;
  }

  .hero {
    padding: 0px 50px 0px 50px;
    height: auto;
    min-height: calc(100vh - 90px);
  }

  .hero-text_wrapper {
    max-width: 400px;
  }
}

/* Phone Landscape to below */
@media screen and (max-width: 767px) {
  .c-nav {
    padding: 24px 16px;
  }

  .c-nav_links,
  .c-nav_right {
    display: none;
  }
/* .c-show_list{
   flex-direction: column;
   background-color: #333;
    width: 25%;
    flex-direction: column;

} */
  .uc-desktop-hide {
    display: none;
  }
.c-close{
  display: none;
}
  .uc-mobile-hide {
    display: none;
  }

  .hero {
    min-height: 0px;
    padding: 0px 0px 50px;
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
    padding: 0px 14px;
  }

  .hero-text_wrapper {
    max-width: none;
    margin-bottom: 16px;
  }

  h1 {
    font-size: 36px;
    line-height: 36px;
  }

  .hero-subtext_wrapper {
    margin-bottom: 24px;
    max-width: 343px;
  }

  p {
    font-size: 16px;
    line-height: 26px;
  }

  .hero-img_block {
    width: 100%;
    height: auto;
    max-width: none;
    max-height: none;
    margin-bottom: 45px;
  }

  .brand-partners {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .brand-logo {
    max-width: 80px;
    max-height: 26px;
  }

  .brand-logo:not(:last-child) {
    margin-right: 28px;
  }
  
}

@media screen and (max-width: 768px){
  .work{
    background-color: #ffffff;
    color: black;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 197px;
    height: 768px;
  }
  .higher{
    margin-left: 150px;
    margin-top: 26px;
  }
  ul{
    list-style-type: none; 
    
  }
  li{
    color:#686868;
    margin: 10px 0;
  }
  .pawpaw{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .uc-desktop-hide{
    display: block;
  }
  .slap {
    background-color: white;
    color: #686868;
    /* border: 2px solid #686868; */
    border-radius: 20px;
    padding: 5px 20px;
    margin-top: 20px;
    width: 70%;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
  }
  .bordered {
    border: 2px solid #686868
  }
  
  /* .slap:hover {
    background-color: #686868;
    color: white;
    border-color: #686868; 
    cursor: pointer;
  } */
  .wow{
    margin-left: 15px;
    margin-bottom: 3px;
  }
  .adopt{
    display: block;
  }
  
}

